
<form align="center" class="example-form">
  <br><br>
  <mat-form-field class="full-width">
    <input matInput placeholder="Name" [formControl]="name">
    <mat-hint>Your name!</mat-hint>
    <mat-error *ngIf="name.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br><br>
  <mat-form-field class="full-width">
    <input matInput type="mail" placeholder="Email" [formControl]="email">
    <mat-hint>Valid mail!</mat-hint>
    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br><br>
  <mat-form-field class="full-width">
    <input matInput type="password" placeholder="Password"
      [formControl]="password">
    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="password" placeholder="Confirm Password"
      [formControl]="confirmPassword">
    <mat-hint></mat-hint>
    <mat-error *ngIf="confirmPassword.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>
  <button mat-raised-button
    [disabled]="!name.valid || !email.valid || !password.valid ||
    !confirmPassword.valid"color="primary" (click)="register(name.value,
    email.value, password.value)">Create account!</button>
    <p>
    
        <ngb-alert *ngIf="successMessage" type="success" [dismissible]="false" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        
        <ngb-alert *ngIf="failMessage" type="danger" [dismissible]="false"  (close)="failMessage = null">{{ failMessage }}</ngb-alert>
         
      </p>

</form>
